body {
  background: #f5f6fa;
  font-family: 'Oswald', sans-serif;
  padding-right: 0 !important;
}

.index {
  width: 100vw;
  height: 100vh;
}

.navbar {
  background: black !important;
}

.nav-link {
  color: #fff !important;
}